:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #a8a745;
    text-decoration: inherit;
    cursor: pointer;
}

a:hover {
    color: #fcf94f;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

nav > :nth-of-type(odd) {
    margin: 0 0.5rem;
}

nav > ul {
    flex-grow: 1;
    display: inline-flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

nav > ul > li {
    margin: 0 1.5rem 0 0;
}

main {
    padding: 6rem 0;
}

#app {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 3em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 50% 50% 0 0;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

input,
button:hover {
    border-color: #fcf94f;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a {
        color: rgb(155, 155, 4);
    }

    a:hover {
        color: #444309;
    }

    input,
    button {
        background-color: #f9f9f9;
    }
}